body{   font-family: 'Open Sans',sans-serif;
        font-weight: 500;
        color: #757578;
        background-color: #fff;
}
.header {
	background-color:#fff;
    margin-top: 7px;
    text-align: center;
    margin-bottom: 20px;
 }
#container{
	margin: 0 auto;
   width: 1100px;
   border:1px solid  #8EB3E5;
   margin-top:30px;
   margin-bottom:10px;
   min-height: 584px;
   border-bottom:none;
}
.navbar-inverse {
    background-color: #00ACC8;
   border-color: #8EB3E5;
}
.navbar {
	min-height: 0px;
	border-radius: 0px;
}
.marginTop25{
	margin-top: 25px;
}
.paddingTop10{padding-top: 10px}
.error{color: #FF0000;font-size: 12px;}
.navbar-inverse .navbar-nav > li > a {
    color: #2E5249;
}
.navbar-nav > li > a {
	line-height: 2px !important;
	font-size: 13px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #00ACC8;
    color: #fff;
}
.bottomBorder{
	border-bottom:2px solid #8EB3E5;
}
.margin6{
	margin: 6px;
}
.leftContainer{
	width:690px;
	float: left;
    border-right: 1px solid #8EB3E5;
    min-height: 440px;
     border-bottom: 1px solid #8eb3e5;
    
}
.scenarioIdDiv{
	border-top: 2px solid #8EB3E5;
    padding: 4px;
    border-bottom: 1px solid #8eb3e5;
}
.rightContainer{
	border-bottom: 1px solid #8eb3e5;
    border-left: 1px solid #8eb3e5;
    float: right;
    height: 440px;
    overflow: auto;
    width: 405px;
   }
   .parent {
    position: relative;
    width: 800px;
    height: 500px;
}
.child {
    position: absolute;
   right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    outline: 1px solid #ccc;
}
.borderTop{
	border-top:1px solid #8EB3E5;
}
.actionDiv{
    background-color: #eee;
    font-size: 12px;
    padding: 4px;
}
.fontSize12{
	font-size:12px;
}
.configScenario{
	float: left;
    padding-right: 30px;
}

 .ui-widget-header{
 display:none;
 }
 .openCloseTerms {
 background: rgba(0, 0, 0, 0) url("../img/ui-icons_222222_256x240.png") repeat-x scroll 27% 58%;
    cursor: pointer;
    height: 20px;
    ssssize: inherit;
     margin-top: 3px;
    
 }
 .moduleClose {
    background: rgba(0, 0, 0, 0) url("../img/ui-icons_222222_256x240.png") repeat-x scroll 13% 58%;
    cursor: pointer;
    height: 20px;
    size: inherit;
     margin-top: 3px;
}
.hide{
	display:none;
}
.show{
	display:block;
}
.selectedItem{
	 background-color: #fff;
    border: 1px dashed;
    margin-left: 20px;
    margin-right: 10px;
	
}
.actionRightDiv {
	background-color: #eee;
	border: 1px solid #8eb3e5;
	display: inline-block;
	height: 30px;
	padding: 4px;
	width: 100%;
}
.showActions{
	display: inline-block;
}

.resultContainer {height : 50px;
    border: 1px solid #8EB3E5;
    height: 100px;
    margin-top: 440px;}

.floatLeft{
	float:left;
}

.search-table-outter {border:2px solid red;}
.search-table{table-layout: fixed; margin:40px auto 0px auto; }
.search-table, td, th{border-collapse:collapse; border:1px solid #777;}
th{padding:20px 7px; font-size:15px; color:#444; background:#66C2E0;}
td{padding:5px 10px; height:35px;}

.search-table-outter { overflow-x: scroll; }
th, td { min-width: 200px; }
 .wordWarp{
 word-wrap: break-word;
 }
 th, td {
    min-width: 120px;
}
.search-table {
    margin: 0;
    table-layout: fixed;
}
.search-table-outter {
    border: 0;
}
th {
    background: #eee none repeat scroll 0 0;
    font-size: 12px;
    padding: 4px;
}
.search-table, th {
    border: 1px solid #c6c6c6;
    border-collapse: collapse;
   
}
td{
	 border: none;
	 font-size:12px;
}
th{
	color:none;
}
#bottomContainer{
	margin: 0 auto;
   width: 1100px;
   border:1px solid  #8EB3E5;
    margin-bottom:30px;
   min-height: 40px;
   
}
.plusImg{
	 background: rgba(0, 0, 0, 0) url("../img/ui-icons_222222_256x240.png") repeat-x scroll 13% 58%;
    cursor: pointer;
    height: 15px;
    margin-top: 3px;
    size: inherit;
    float: left; width: 20px;
}
.minusImg{
	background: rgba(0, 0, 0, 0) url("../img/ui-icons_222222_256x240.png") repeat-x scroll 27% 58%;
    cursor: pointer;
    height:16px;
    margin-top: 3px;
    float: left; width: 20px;
}
.checkImg{
    background: rgba(0, 0, 0, 0) url("../img/ui-icons_222222_256x240.png") repeat-x scroll 26% 66%;
    cursor: pointer;
    height: 20px;
    margin-top: 3px;
    size: inherit;
    float: left; width: 20px;

}
}



