body{
        font-family: 'Open Sans',sans-serif;
        font-weight: 500;
        color: #757578;
        background-color: #fff;
}
.header {
	background-color:#fff;
    margin-top: 7px;
    text-align: center;
    margin-bottom: 20px;
 }
#container{
	margin: 0 auto;
   width: 1100px;
   border:1px solid  #8EB3E5;
   margin-top:30px;
   margin-bottom:30px;
   min-height: 500px;
}
.navbar-inverse {
    background-color: #00ACC8;
   border-color: #8EB3E5;
}
.navbar {
	min-height: 0px;
	border-radius: 0px;
}
.marginTop25{
	margin-top: 25px;
}
.paddingTop10{padding-top: 10px}
.error{color: #FF0000;font-size: 12px;}
.navbar-inverse .navbar-nav > li > a {
    color: #2E5249;
}
.navbar-nav > li > a {
	line-height: 2px !important;
	font-size: 13px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #00ACC8;
    color: #fff;
}
.bottomBorder{
	border-bottom:2px solid #8EB3E5;
}
.margin6{
	margin: 6px;
}
.leftContainer{
	width:680px;
	float: left;
	border-bottom: 2px solid #8EB3E5;
    border-right: 2px solid #8EB3E5;
    
}
.rightContainer{
	width:400px;
	float:right;
	border-bottom: 2px solid #8EB3E5;
	margin-left:10px;
	border-left:2px solid #8eb3e5;
   }
}